.feature{
    background-color: $lightGrayishBlue;
    text-align: center;

    @include breakPoint-up(large){
        text-align: left;
    }

    &__intro{
        
        @include breakPoint-up(large){
            width: 60%;
            margin-bottom: 3.75rem;
        }
    }

    &__grid{

        @include breakPoint-up(medium){
            display: flex;
            flex-wrap: wrap;
        }

    }

    &__item{
        padding: .9375rem;

        @include breakPoint-up(medium){
            flex: 0 0 50%;
        }

        @include breakPoint-up(large){
            flex:1; 
        }
       
    }

    &__icon{
        margin-bottom: 1.65rem;
         
        @include breakPoint-up(large){
            margin-bottom: 2.57rem;
        }
        
    }

    &__title{
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.15;
        color: $darkBlue;
        margin-bottom: 1rem;

        @include breakPoint-up(large){
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }
    }

   &__description{
       font-size: .875rem;
       line-height: 1.5
       
       ;

   }
}