.hero{
    background-color: $veryLightGray;

    .container{
    
        @include breakPoint-up(large){
            display: flex;
        }
    }
    &__img{
        background-image: url('../../images/bg-intro-mobile.svg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        min-height: 22.5rem;
            
        &::before{
            content: "";
            background-image: url('../../images/image-mockups.png');
            background-repeat: no-repeat;
            background-size: 92%;
            background-position: center bottom;
            width: 100%;
            height: 100%;
            position: absolute;

            @include breakPoint-up(large){
                height: 115%;
                background-size: 92%;
                background-position: center bottom;
                width: 100%;
                height: 120%;

            }

            @include breakPoint-down(medium){
                background-size: 60%;
                background-position: center bottom ;
                height: 120%;
            }

            @include breakPoint-down(small){
                background-size: 92%;
                background-position: center bottom;
                width: 100%;
                height: 120%;
                position: absolute;
            }
        }

         @include breakPoint-up(large){
            background-image: url('../../images/bg-intro-desktop.svg');
            min-height: 41rem;
            display: flex;
            background-position: left center;
            flex: 3;
            order: 2;
        }
    }

    &__text{
        text-align: center;

        @include breakPoint-up(large){
            flex: 2;
            order: 1; 
            text-align: left;       
        }
    }
}
