//color
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$brightCyan: hsl(192, 70%, 51%);
$lightGrayishBlue: hsl(220, 7%, 92%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

//font sizes

$font-med: 1.125em; //18px
$font-small: 0.875em; //14px
$font-xl : 3.25rem